body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff0f6;
}

header {
    background: #ff85a2;
    padding: 15px 30px;
}

.navbar {
    display: flex;
    justify-content: space-between; /* left & right */
    align-items: center;
}

.logo {
    color: darkorchid;
    font-size: 22px;
    font-weight: bold;
}

.menu a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px 30px;
}

h2 {
    color: #ff4d79;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


    .card img {
    width: 100%;
    height: 260px;        /* better for dresses */
    object-fit: contain; /* shows full dress */
    border-radius: 10px;
    background: #fff;
}



.price {
    color: #ff4d79;
    font-weight: bold;
}

button {
    background: #ff4d79;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ffd6e8;
}